body {
    font-size: 12px;
    color: #696969;
    padding: 20px;
}
h2 {
    font-size: 24px;
    border-bottom: 1px solid #1e90ff;
    padding: 5px 0 5px 0;
    margin-bottom: 25px;
}
input[name="post_date"] {
    width: 200px;
}
input[name="post_date"] {
    width: 200px;
}
input[name="title"] {
    width: 400px;
}

textarea[name="body"] {
    width: 400px;
}
.comment{
display: table-cell;    
}

.name_space{
    margin-right: 1.75em;
}

.set_body{
    width:20em;
    height:3em;
    overflow: hidden;
}

.multiline-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2 ;
}

.box{
float:left;
margin: 10px;
}
.comment{
 display:inline-block;
}

.div_img_intro{

    text-align: center;
    padding:  10px;
    border:none;
    
}

.list_intro{
border: none;
    
}

.image_view{
display: table;

margin:10px;

}
.image_view_cell{
 display:table-cell;   
 
 
}
.image_view_row{

display: table-row;


    
}

.image_base{

    margin: 5px;

}


.image_form{
 margin:10px;
 padding: 10px;
 border: 2px solid;
 border-color: #EEEEEE;    
border-radius: 10px;
}

.post_intro{
    display:inline-block;
    
    padding: 5px;
    
}

    .horizontal-list {
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      background-color: #eeeeee;
    }


 .item {
      /* 横スクロール用 */
      display: inline-block;
      width: 240px;
        margin:5px;
      /* 見た目調整 */
      height: 240px;
     
      background: #ffffff;
    }
